.intro 				{
	.row 				{
		img 			{ position: absolute;
								left: 0;
		
		}
	}
}
.lunch 				{ overflow: hidden;
								background-image: url(../img/map2.png);
								background-size: cover;
	h1 					{ white-space: nowrap;}
	img 				{ top: -100px;
								left: 0%;
								position: absolute;
	}

}
.gamestickr 	{ overflow: hidden;
								padding-top: 9rem !important;
	img 				{ top: 0%;
								right: 0%;
								position: absolute;
	}
}
.wallace 			{ overflow: hidden;
								background-image: url(../img/wallace-screen-nikolai.jpg);
								background-size: cover;
	img 				{ top: 10%;

								position: absolute;
	}
}
.mighty 			{ overflow: hidden;
								background-image: url(../img/mb-screen2.png);
								background-size: cover;
	img 				{ top: 10%;

								position: absolute;

	}
}
.propercut 		{ overflow: hidden;
								background-image: url(../img/pc-bg.png);
								background-size: cover;
	img 				{ top: 10%;

								position: absolute;

	}

}
.colorshift 	{ overflow: hidden;
	img 				{ top: 0%;
								right: 0%;
								position: absolute;
	}
}
.noah 				{ background-color: #B22222;
	h1 					{ white-space: nowrap;}
	img 				{ top: 20%;

								position: absolute;
	}
}
.songwriter 	{ overflow: hidden;
	img 				{ top: 20%;

								position: absolute;

	}
}
.dance 				{ overflow: hidden;
								background-color: #7C9FA7;
	img 				{ top: 20%;

								position: absolute;

	}
}
@import url("posts.less");