.lunch 				{ overflow: hidden;
								background-image: url(../img/lunch-bg.png);
	img 				{ top: 10%;
								right: 0%;
								position: absolute;
								
	}

}
.gamestickr 	{ overflow: hidden;
	img 				{ top: 0%;
								right: 0%;
								position: absolute;	
	}
}
.wallace 			{ background-color: #B22222;}
.mighty 			{ background-color: #B22222;}
.propercut 		{ overflow: hidden;
								background-image: url(../img/pc-bg.png);
								background-size: cover;
	img 				{ top: 10%;
								right: 15%;
								position: absolute;
								
	}

}
.colorshift 	{ background-color: #B22222;}
.noah 				{ background-color: #B22222;}
.songwriter 	{ overflow: hidden;
	img 				{ top: 20%;
								right: -10%;
								position: absolute;
								
	}
}
.dance 				{ overflow: hidden;
								background-color: #7C9FA7;
	img 				{ top: 20%;
								right: -10%;
								position: absolute;
								
	}
}